body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    height: 100%;
    color: #f9faf8;
    
}
/* Header section*/
.header-section {
    background-color:#1f2937;
    color: #e5e7eb;
    padding: 20px;
    height: 100%;
    font-size: 18px;
}

.header-content {
    justify-content: center;
    margin: 0 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 20px;
}

.content-left {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: #f9faf8;;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 0;

}

.banner-text h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.banner-text p {
    font-size: 18px;
    margin: 0;
}

/*combines both buttons on the landing page*/
button {
    background-color:  #3882f6;
    border-radius: 5px;
    border: none;
    padding: 7px;
    font-size: 18px;
    margin-top: 10px;
    color: #f9faf8;;
    
    
}
.header > img {
    width: 500px;
    height: auto;
    background-color: rgb(158, 162, 165);
}

/*Random information section*/
.info {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1f2937;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
}
.image-info {
    display: flex;
    justify-content: center;
 }

.image-info p {
    font-size: 18px;
    padding: 10px;
    max-width: 300px;
    height: auto;
}

.image-info p img {
    width: 250px;
    height: auto;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

/*Testimonials section*/
.testimony{ 
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content {
    width: 900px;
    margin: 90px;
}

.test-cont {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.author {
    margin-left: 690px;
    margin-top: 15px;
    font-weight: 800;
    color: #1f2937;
}

/*call to action section*/
.call-to-action {
    justify-content: center;
    align-items: center;
    display: flex;
}

.call-content {
    width: 900px;
    background-color: #3882f6;
    margin: 90px;
    border-radius: 20px;
    padding: 50px;
}

.call-text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.call-text p {
    margin-bottom: 0;
}

.call-text button {
    border: 2px solid #f9faf8;
    padding: 7px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: inherit;
}


/*Footer section*/
.footer {
    background-color:  #1f2937;
    text-align: center;
    padding: 40px;
    font-size: 18px;
}