body {
    background-color: rgb(245, 239, 239);
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 26px;
    margin: 0;
    height: 100%;
    
}
/* Header section*/
.header-section {
    background-color: rgb(6, 21, 68);
    color: whitesmoke;
    padding: 8px;
    height: 100%;
    font-size: 80%;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.banner-text {
    max-width: 400px;
    height: auto;
}
 /*combines both buttons on the landing page*/
button {
    padding: 5px;
    font-size: 18px;
    background-color: rgb(10, 135, 177);
    border-radius: 5px;
    color: white;
    border: none;
}
.header > img {
    width: 550px;
    height: auto;
    background-color: rgb(158, 162, 165);
}

/*Footer section*/
.footer {
    background-color: rgb(6, 21, 68);
    text-align: center;
    font-size: 80%;
    color: whitesmoke;
    padding: 20px;
}